<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>General</string>
		<key>icon</key>
		<string>toolbaricon_prefs_general</string>
		<key>class</key>
		<string>SQUPreferencePaneGeneral</string>
		<key>identifier</key>
		<string>general</string>
	</dict>
	<dict>
		<key>title</key>
		<string>MIDI</string>
		<key>icon</key>
		<string>toolbaricon_prefs_midi</string>
		<key>class</key>
		<string>SQUPreferencePaneMIDI</string>
		<key>identifier</key>
		<string>midi</string>
	</dict>
</array>
</plist>
